<center><h1>Welcome to Plant Cabinet!</h1>
<i><h5>Click on the Plant name for more details.</h5></i></center>
<br>
<br>

  <% @plants.each do |plant| %>
<h4><a href="/plants/<%= plant.id %>"><%= plant.created_at %></a></h4>
  <p><%= plant.name %></p>
  <h5><b>Description -- <%= plant.description%></h5>
  <h5>Location -- <%= plant.location%></h5>
  <p><br>From  <%= plant.user.name %></p>
  <br><br>
<% end %>
